<div class="box">
    <div [class.rotate]="rotateClass" class="box__content rotate2" [ngStyle]="{
            'background-color': styleConfig?.value.bgColor,
            'border': !styleConfig?.value.borderCheck ? 'none' : '5px solid',
            'border-color': styleConfig?.value.borderColor
        }">
        <div class="box__front">
            <div>
                <h1 class="text-center text-break" [ngStyle]="{
                        'color': styleConfig?.value.textColor,
                        'text-decoration': !styleConfig?.value.underlineCheck ? 'none' : 'underline',
                        'text-decoration-color': styleConfig?.value.underlineColor,
                        'font-size': 'min(10vw,' + styleConfig?.value.textSize +'px)'
                    }">
                    {{styleConfig?.value.textTitle}}
                </h1>
                <i (click)="addRotateClass()" class="bi bi-arrow-clockwise icon-rotate rotateButton" [ngStyle]="{
                    'color': styleConfig?.value.iconColor,
                    'background-color': styleConfig?.value.bgButtonColor,
                }"></i>
            </div>
        </div>
        <div class="box__back">
            <i (click)="addRotateClass()" class="bi bi-arrow-clockwise icon-rotate rotateButton"[ngStyle]="{
                'color': styleConfig?.value.iconColor,
                'background-color': styleConfig?.value.bgButtonColor,
            }"></i>
            <!-- <app-my-info></app-my-info> -->
        </div>
    </div>
</div>