<div class="editor-container">
    <div
        class="editor p-4 overflow-auto no-scroll text-light bg-dark border border-2 border-secondary-subtle rounded-4">
        <h1 class="text-center display-4 m-4">Card Editor</h1>
        <form [formGroup]="profileForm">
            <div class="form-floating mb-3">
                <textarea class="form-control" formControlName="textTitle" id="title-content" placeholder="Leave a comment here" ></textarea>
                <label for="title-content" class="text-secondary">Text Title</label>
            </div>
            <label for="text-Size" class="form-label">Max Font Size:</label>
            <input type="range" formControlName="textSize" class="form-range" min="60" max="160" id="text-Size">
            <div class="row mb-3">
                <div class="col">
                    <label for="bg-color">Background Color: </label>
                    <input class="form-control" id="bg-color" type="color" formControlName="bgColor" value="#ffffff">
                </div>
                <div class="col">
                    <label for="bg-text">Text Color: </label>
                    <input class="form-control" id="bg-text" type="color" formControlName="textColor" value="#ffffff">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="bg-button-color">Background Button Color: </label>
                    <input class="form-control" id="bg-button-color" type="color" formControlName="bgButtonColor"
                        value="#ffffff">
                </div>
                <div class="col">
                    <label for="icon-color">Icon Color: </label>
                    <input class="form-control" id="icon-color" type="color" formControlName="iconColor"
                        value="#ffffff">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" formControlName="underlineCheck"
                            id="underlineCheck" (click)="isUnderlineChecked()">
                        <label class="form-check-label" for="underlineCheck">
                            Underline Text Color:
                        </label>
                    </div>
                    <input class="form-control" id="underline-color" type="color" formControlName="underlineColor"
                        value="#ffffff">
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" formControlName="borderCheck"
                            id="boderCheck" (click)="isBorderChecked()">
                        <label class="form-check-label" for="borderCheck">
                            Border Text Color:
                        </label>
                    </div>
                    <input class="form-control" id="border-color" type="color" formControlName="borderColor"
                        value="#ffffff">
                </div>
            </div>
        </form>
        <button type="submit" [disabled]="!profileForm.valid" (click)="onSubmit()">Console.log()</button>
    </div>
    <div class="editor editor-card p-4 bg-dark border border-2 border-secondary-subtle overflow-hidden rounded-4">
        <app-welcome-card [styleConfig]="profileForm"></app-welcome-card>
    </div>