.editor-container {
    display: flex;
    height: 100%;
    width: 100vw;
    // color: white;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 20px;
    width: 100%;
    overflow: hidden;
    // color: white;
}

.editor {
    width: 600px;
    height: 600px;
    min-height: 600px;

    &::-webkit-scrollbar {
        display: none;
    }
}


@media (max-width: 1300px) {
    .editor-container {
        flex-direction: column;
        overflow: auto;
    }

    .editor {
        width: 100%;
        max-width: 600px;
    }
}