<div class="editor-container" [ngStyle]="{
    'background': !profileForm.value.backgroundContent?.bgGradient ? profileForm.value.backgroundContent?.color1 : 'linear-gradient('+ profileForm.value.backgroundContent?.color1 + ',' + profileForm.value.backgroundContent?.color2 + ')'
}">
    <div
        class="editor p-4 overflow-auto no-scroll text-light bg-dark border border-2 border-secondary-subtle rounded-4">
        <h1 class="text-center display-4 m-4">Card Editor</h1>
        <form [formGroup]="profileForm">
            <h2>Front: </h2>
            <div class="form-floating mb-3">
                <textarea class="form-control" formControlName="textTitle" id="title-content"
                    placeholder="Leave a comment here"></textarea>
                <label for="title-content" class="text-secondary">Text Title</label>
            </div>
            <div class="mb-3">
                <label for="fornt-img" class="form-label">Add an image:</label>
                <input id="fornt-img" #fileInputFront (change)="onFileSelected($event)" class="form-control" type="file"
                    accept=".jpg, .jpeg, .png">
                <button type="button" [disabled]="profileForm.value.frontImg === null"
                    (click)="deleteFrontImg(fileInputFront)" class="btn btn-danger mt-2">Delete Image</button>
            </div>
            <label for="title-align">Select a text align:</label>
            <select id="title-align" formControlName="titleAlign" class="form-select mb-3"
                aria-label="Default select example">
                <option selected value="center">Center</option>
                <option value="justify">Justify</option>
                <option value="end">Right</option>
                <option value="start">Left</option>
            </select>
            <div class="row mb-3">
                <div class="col d-flex flex-column justify-content-between">
                    <label for="bg-color">Background Color: </label>
                    <input class="form-control" id="bg-color" type="color" formControlName="bgColor" value="#ffffff">
                </div>
                <div class="col d-flex flex-column justify-content-between">
                    <label for="bg-text">Text Color: </label>
                    <input class="form-control" id="bg-text" type="color" formControlName="textColor" value="#ffffff">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col d-flex flex-column justify-content-between">
                    <label for="bg-button-color">Background Button Color: </label>
                    <input class="form-control" id="bg-button-color" type="color" formControlName="bgButtonColor"
                        value="#ffffff">
                </div>
                <div class="col d-flex flex-column justify-content-between">
                    <label for="icon-color">Icon Color: </label>
                    <input class="form-control" id="icon-color" type="color" formControlName="iconColor"
                        value="#ffffff">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col d-flex flex-column justify-content-between">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" formControlName="underlineCheck"
                            id="underlineCheck" (click)="isUnderlineChecked()">
                        <label class="form-check-label" for="underlineCheck">
                            Underline Text Color:
                        </label>
                    </div>
                    <input class="form-control" id="underline-color" type="color" formControlName="underlineColor"
                        value="#ffffff">
                </div>
                <div class="col d-flex flex-column justify-content-between">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" formControlName="borderCheck"
                            id="boderCheck" (click)="isBorderChecked()">
                        <label class="form-check-label" for="borderCheck">
                            Border Text Color:
                        </label>
                    </div>
                    <input class="form-control" id="border-color" type="color" formControlName="borderColor"
                        value="#ffffff">
                </div>
            </div>
            <div class="form-check w-100 d-flex justify-content-center">
                <input class="form-check-input m-1" type="checkbox" value="" formControlName="roundedCheck"
                    id="roundedCheck">
                <label class="form-check-label" for="roundedCheck">
                    Border rounded
                </label>
            </div>
            <hr>
            <h2>Back: </h2>
            <div formArrayName="backContent">
                @for (content of profileForm.value.backContent; track content.id) {
                <div class="bg-dark-subtle p-3 rounded-3 border border-2 border-black mb-3 ">
                    <div [formGroupName]="$index">
                        <div class="form-floating">
                            <textarea class="form-control" formControlName="textTitleBack"
                                id="title-content-back-{{$index}}" placeholder="Leave a comment here"></textarea>
                            <label for="title-content-back-{{$index}}" class="text-secondary">Text Title</label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value=""
                                formControlName="underlineBackTitle" id="title-back-underline-{{$index}}">
                            <label class="form-check-label text-secondary" for="title-back-underline-{{$index}}">
                                Underline Text Title
                            </label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" formControlName="textContentBack"
                                id="text-content-back-{{$index}}" placeholder="Leave a comment here"></textarea>
                            <label for="text-content-back-{{$index}}" class="text-secondary">Text Content</label>
                        </div>
                        <div class="mb-3">
                            <label for="back-img" class="form-label text-secondary">Add an image:</label>
                            <input id="back-img" #fileInputBack (change)="onFileSelectedBack($event, $index)"
                                class="form-control" type="file" accept=".jpg, .jpeg, .png">
                            <button type="button" [disabled]="profileForm.value.backContent?.[$index]?.backImg === null"
                                (click)="deleteBackImg($index, fileInputBack)" class="btn btn-danger mt-2">Delete
                                Image</button>
                        </div>
                    </div>
                    <button (click)="deleteBackComponent($index)" type="button" class="btn btn-danger w-100">
                        Delete Component
                    </button>
                </div>
                }
            </div>
            <button (click)="createNewComponent()" type="button" class="btn btn-outline-secondary w-100 mb-3">
                Create New Component
            </button>
            <hr>
            <h2>Background:</h2>
            <div formArrayName="backgroundContent">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" formControlName="bgGradient"
                        id="bg-gradient" (click)="isGradientChecked()">
                    <label class="form-check-label" for="bg-gradient">
                        Gradient Background Color
                    </label>
                </div>
                <div class="row mb-3">
                    <div class="col d-flex flex-column justify-content-between">
                        <label for="bg-color1">Color 1: </label>
                        <input class="form-control" id="bg-color1" type="color" formControlName="color1"
                            value="#ffffff">
                    </div>
                    <div class="col d-flex flex-column justify-content-between">
                        <label for="bg-color2">Color 2: </label>
                        <input class="form-control" id="bg-color2" type="color" formControlName="color2"
                            value="#ffffff">
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 col-6 w-100">
                <button class="btn btn-primary" type="submit" [disabled]="!profileForm.valid"
                    (click)="onSubmit()">Submit</button>
            </div>
        </form>
    </div>
    <div class="editor editor-card">
        <app-welcome-card [styleConfig]="getCardData()"></app-welcome-card>
    </div>
</div>